
.layout {
    display: flex;
    flex-direction: row; 
}

.sidebar {
    width: 20rem;
    height: 100vh;
    background: #6d6a05fc;
    padding: 1rem;
    position: relative;
    transform: translateX(0); 
}

.main {
    flex: 1;
    position: relative;
    
}

.room1 { grid-column: 1 / 2; grid-row: 1 / 2; }
.room2 { grid-column: 3 / 4; grid-row: 1 / 2; }
.room3 { grid-column: 4 / 5; grid-row: 1 / 2; }
.room4 { grid-column: 1 / 2; grid-row: 2 / 4; }
.room5 { grid-column: 3 / 4; grid-row: 3 / 4; }
.room6 { grid-column: 4 / 5; grid-row: 3 / 4; }
