
.layout {
    display: flex;
    flex-direction: column;  
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem; 
    height: 100vh;
    background: #f4f3f3fc;
    padding: 1rem;
    transform: translateX(-100%);  
    transition: transform 0.3s ease;
    z-index: 50;
}

.sidebar.open {
    transform: translateX(0);
}

.main {
    flex: 1;
    position: relative;
}

.menu-btn {
    padding: 0.5rem;
    margin: 0.5rem;
    background: #666;
    color: white;
    border: none;
    font-size: 1.5rem;
}


/* La parie des zones */



/* --- Responsive designe */
@media (min-width: 768px) {
    .layout {
        flex-direction: row; 
    }

    .sidebar {
        position: relative;
        transform: translateX(0); 
    }

    .menu-btn {
        display: none; 
    }
    /* #image {
    background-image: url('Image_background.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 800px; 
    margin-top:40px;
    margin-left:40px;
} */
/* Le grid */
/* .main {
    flex: 2;
    position: relative;
} */
.zone{
 min-height: 400px;
  background-image: url(Image_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  aspect-ratio: 16/9;
  grid-template-columns: 33% 18% 24% 24%;
  grid-template-rows: 40% 20% 40%;
  gap: 22px;
  border-radius: 20px;
  padding: 20px;
}


/* Placement de chaque cellule */
.room1 { grid-column: 1 / 2; grid-row: 1 / 2; }
.room2 { grid-column: 3 / 4; grid-row: 1 / 2; }
.room3 { grid-column: 4 / 5; grid-row: 1 / 2; }
.room4 { grid-column: 1 / 2; grid-row: 2 / 4; }
.room5 { grid-column: 3 / 4; grid-row: 3 / 4; }
.room6 { grid-column: 4 / 5; grid-row: 3 / 4; }

}
