
.layout {
    display: flex;
    flex-direction: column;  
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem; 
    height: 100vh;
    background: #7f0505;
    padding: 1rem;
    transform: translateX(-100%);  
    transition: transform 0.3s ease;
    z-index: 50;
}

.sidebar.open {
    transform: translateX(0);
}

.main {
    flex: 1;
    position: relative;
}

.menu-btn {
    padding: 0.5rem;
    margin: 0.5rem;
    background: #666;
    color: white;
    border: none;
    font-size: 1.5rem;
}

.image {
    background-image: url('Image_Mobile.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 900px; 
}

/* --- Responsive designe */
@media (min-width: 768px) {
    .layout {
        flex-direction: row; 
    }

    .sidebar {
        position: relative;
        transform: translateX(0); 
    }

    .menu-btn {
        display: none; 
    }
    .image {
    background-image: url('Image_background.jpg');
    background-size: cover;
    background-position: center;
    width: 95%;
    height: 800px; 
    margin-top:40px;
    margin-left:40px;
}
}
