 
        .room1 { grid-column: 1 / 2; grid-row: 1 / 2; }
        .room2 { grid-column: 3 / 4; grid-row: 1 / 2; }
        .room3 { grid-column: 4 / 5; grid-row: 1 / 2; }
        .room4 { grid-column: 1 / 2; grid-row: 2 / 4; }
        .room5 { grid-column: 3 / 4; grid-row: 3 / 4; }
        .room6 { grid-column: 4 / 5; grid-row: 3 / 4; }

   .main {
    flex: 1;
    position: relative;
    
   }
   .layout {
    display: flex;
    flex-direction: row; 
   } 

   